.head{
    width: 100%;
    height: 3.625rem;
    padding-bottom: 1.75rem;
    padding-top: 1.75rem;
}
.head h1{
    width: 3.5rem;
    height: 3.5rem;
    background: url('/Public/home/img/logo.png') no-repeat;
    background-size:100% 100%; 
    margin-left: 1.75rem;
    float: left;
}
.system{
    float: left;
    margin-left: 1.25rem;
}
h4{
    font-size:1.375rem; 
    color: #101010;    
    font-weight:normal;
    line-height: 2.25rem;
}
.system{
    font-size: 1.125rem;
    line-height: 1.1875rem;
    color: #aaa;
}
.img{
    width: 36.75rem;
    height: 18.75rem;
    margin: 0 auto;
    border-radius: 0.5625rem; 
    overflow: hidden;
    margin-bottom: 40px;
}
.img img{
    width: 100%;
    height: 100%;
    border-radius: 0.5625rem; 
}
.foot{
    width: 36.75rem;
    margin: 0 auto;
    border-top: 1px solid #eeeeee;
    padding-top: 1.375rem;
    font-size:1.375rem; 
    line-height: 2.25rem;
    color: #858585;
}