/* 初始化样式 */
body,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color:#fff;
}
img{
    border: 0;
    padding: 0;
}
input{
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 0;
}